$white: #fff;
$bg-login-gray: rgba(226, 226, 226, 0.67);
$grey: #858585;
$grey-bg-transparent: rgba(0, 0, 0, 0.3);
$box-shadow-color: rgba(0, 0, 0, 0.75);
$city-description-shadow: rgba(0, 0, 0, 0.87);
$black: #000;
$button-blue: #38AECC;
$login-button-hover: #0494cc;
$blue: #586b8e;
