<div class="col-xs-12 city-description">
  <app-planning-pages-header [currentCity]="currentCity"></app-planning-pages-header>

  <div class="place-planning-costs-content city-description-text">
    <div class="row center-xs city-description-text-title"> Hotels planning</div>

    <mat-divider class="city-description-text-divider"></mat-divider>
    <p class="row center-xs"> Here you can calculate the total amount of money you will need to stay in selected
      hotel.</p>
    <mat-divider class="city-description-text-divider"></mat-divider>

    <div class="row center-xs hotel-finder-and-total">
      <div class="col-xs-6 hotel-finder-wrapper">
        <div class="row center-xs">
          <mat-form-field class="hotels-selector">
            <mat-select placeholder="Hotel name">
              <mat-option *ngFor="let hotel of currentCityHotels" [value]="hotel?.name">
                {{hotel?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row center-xs">
          <mat-form-field>
            <input
              matInput
              readonly
              [min]="today"
              [matDatepicker]="picker"
              placeholder="Check-in">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              readonly
              [min]="today"
              [matDatepicker]="picker2"
              placeholder="Check-out">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-divider class="city-description-text-divider"></mat-divider>
        </div>

        <div class="row center-xs">
          <mat-form-field>
            <mat-select placeholder="Adults">
              <mat-option *ngFor="let number of arrayOfNumbers" [value]="number">
                {{number}} adults
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Rooms">
              <mat-option *ngFor="let number of arrayOfNumbers" [value]="number">
                {{number}} rooms
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row center-xs">
          <button mat-raised-button color="primary" class="calculate-button">
            Calculate
          </button>
        </div>
      </div>

      <div class="col-xs-6 hotel-final-calculations">
        <mat-card class="total-card-wrapper">
          <mat-card-header> Total price</mat-card-header>
        </mat-card>
      </div>
    </div>

    <mat-divider class="city-description-text-divider"></mat-divider>
    <p class="row center-xs"> Here are some hotels for the current city.</p>
    <mat-divider class="city-description-text-divider"></mat-divider>

    <div class="row center-xs recommended-hotels">
      <app-hotel-card
        *ngFor="let currentCityHotel of currentCityHotels"
        [hotel]="currentCityHotel" class="hotel-card-wrapper"></app-hotel-card>
    </div>
  </div>
</div>
