<div class="row center-xs">
  <div class="col-xs-10 city-description">
    <div class="row center-xs">
      <div class="col-xs-3">
        <img class="city-image" src="{{city?.image}}">
      </div>
      <div class="col-xs-9">
        <div class="row center-xs city-description-title"> {{city?.name}}</div>
        <div class="row description-text">
          {{city?.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="row center-xs place-planning-costs">
      <app-place-planning-costs
        class="place-planning-costs-tile"
        [action]="action"
        *ngFor="let action of actions"></app-place-planning-costs>
    </div>
  </div>
</div>
