<div class="row center-xs">
  <div class="col-xs-12 city-description">
    <app-planning-pages-header [currentCity]="currentCity"></app-planning-pages-header>

    <div class="row center-xs place-planning-costs-content">

      <div class="col-xs-12 city-description-text">
        <div class="center-xs city-description-text-title"> Food planning</div>
        <mat-divider class="city-description-text-divider"></mat-divider>
        <div class="row center-xs">

          <form [formGroup]="foodCounterForm">
            <mat-form-field>
              <mat-select
                placeholder="Meal type"
                [formControlName]="FOOD_FORM_CONTROLS?.MEAL_TYPE_SELECTOR">
                <mat-option
                  required
                  *ngFor="let meal of meals"
                  [value]="meal?.mealTypeId">
                  {{meal?.mealType}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                placeholder="Choose price category"
                [formControlName]="FOOD_FORM_CONTROLS?.MEAL_PRICE_LEVEL_SELECTOR">
                <mat-option
                  *ngFor="let prices of priceCategory"
                  [value]="prices?.value">
                  {{prices?.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                placeholder="Number of people"
                [formControlName]="FOOD_FORM_CONTROLS?.MEAL_NUMBER_OF_PEOPLE">
                <mat-option
                  *ngFor="let person of people"
                  [value]="person?.value">
                  {{person?.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <mat-divider class="city-description-text-divider"></mat-divider>

        <div class="row center-xs">
          <button mat-raised-button color="primary" class="calculate-food-price-button"
                  (click)="calculateTotalPrice()">
            Calculate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
