@import '~flexboxgrid';
@import '../../styles/colors';

.col-xs-12 {
  margin-top: 0;
}

.city-description {
  position: relative;
  color: $white;
  font-weight: 600;
  font-size: 40px;

  .place-planning-costs-content {
    font-size: 20px;
    font-weight: 300;
    color: black;

    .city-description-text {
      width: 45%;
      text-align: justify;
      margin: auto;

      .mat-form-field {
        padding: 20px;
        width: 200px;
        font-size: 17px;
      }

      .calculate-food-price-button {
        width: 150px;
      }

      .city-description-text-title {
        font-size: 30px;
        font-weight: 400;
        margin: 20px;
      }

      .city-description-text-images {
        width: 100%;
        height: auto;
      }
    }

    .city-description-text-divider {
      margin: 20px 0;
    }

    mat-ink-bar {
      background-color: $grey;
    }

    .mat-tab-header {
      border-bottom: none;
    }
  }
}
