<div class="row center-xs middle-xs flights-picker-wrapper">
  <div class="row flights-picker">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row class="center-xs flights-mat-toolbar-row">

        <div class="mat-inputs-wrapper" [formGroup]="citiesInputs">
          <mat-form-field class="departure city-input">
            <input
              type="text"
              placeholder="{{FLIGHTS_PAGE_FILTER_MESSAGES?.SELECT_DEPARTURE_CITY}}"
              matInput
              formControlName="departureCity"
              [(ngModel)]="departureCityValue"
              [matAutocomplete]="auto">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

            <button
              mat-button
              *ngIf="departureCityValue"
              matSuffix mat-icon-button
              aria-label="Clear"
              (click)="departureCityValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <button class="swap-flight-destinations-button"
                  mat-button matSuffix mat-icon-button
                  [disabled]="!(arrivalCityValue && departureCityValue)"
                  (click)="onSwapClick()">
            <mat-icon>swap_horiz</mat-icon>
          </button>

          <mat-form-field class="arrival city-input">
            <input
              matInput
              type="text"
              placeholder="{{FLIGHTS_PAGE_FILTER_MESSAGES?.SELECT_ARRIVAL_CITY}}"
              formControlName="arrivalCity"
              [matAutocomplete]="auto2"
              [(ngModel)]="arrivalCityValue">

            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                {{option2.name}}
              </mat-option>
            </mat-autocomplete>

            <button
              mat-button
              *ngIf="arrivalCityValue"
              matSuffix mat-icon-button
              aria-label="Clear"
              (click)="arrivalCityValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="datepickers-wrapper">
          <mat-form-field class="flights-datepicker">
            <input matInput
                   [matDatepicker]="picker1"
                   disabled
                   placeholder="{{FLIGHTS_PAGE_FILTER_MESSAGES?.SELECT_DEPARTURE_DATE}}">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker1 disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="flights-datepicker">
            <input matInput
                   [matDatepicker]="picker2"
                   disabled
                   placeholder="{{FLIGHTS_PAGE_FILTER_MESSAGES?.SELECT_ARRIVAL_DATE}}">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<div class="row flights-plan-page-columns" *ngIf="!isLoading">
  <div class="col-xs-5 flight-final-details-wrapper"
       *ngIf="!isLoading && (flights.length !== 0)
         || !isLoading && (flights | search: departureCityValue : arrivalCityValue).length !== 0">
    <app-flight-final-details class="flight-final-details-element" [selectedFlights]="selectedFlights"></app-flight-final-details>
  </div>

  <div class="col-xs-5 flight-info-wrapper">
    <app-flight-info
      [flight]="flight"
      class="flight-info-element"
      *ngFor="let flight of flights | search: departureCityValue : arrivalCityValue" (selectedFlight)="selectFlight($event)"></app-flight-info>
  </div>
</div>

<div class="spinner row center-xs" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="row center-xs middle-xs sorry-nothing-is-found"
     *ngIf="!isLoading && (flights.length === 0)
         || !isLoading && (flights | search: departureCityValue : arrivalCityValue).length === 0">
  {{NOTHING_FOUND.SORRY}}
</div>
