@import '~flexboxgrid';
@import '../../styles/colors';

.cities {
  justify-content: space-evenly;

  .city-cards {
    margin: 20px 10px;
    width: 25%;
    box-shadow: 0 0 40px -10px $box-shadow-color;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 650px) {
  .row {
    .city-cards {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px){
  .row {
    .city-cards {
      width: 35%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .row {
    .city-cards {
      width: 30%;
    }
  }
}
